# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores / IDE
.vscode/
.idea/

# Dependencias y compilación de React / Node
node_modules/
dist/
dist-ssr/

# Archivos generados por Java / Maven
target/

# Las imágenes de uploads están incluidas en el repo como datos preestablecidos