# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores / IDE
.vscode/
.idea/

# Dependencias y compilación de React / Node
node_modules/
dist/
dist-ssr/

# Archivos generados por Java / Maven
target/

# Imágenes subidas por usuarios
backend/uploads/FotoPlatos/*
backend/uploads/FotosEmpleados/*
!backend/uploads/FotoPlatos/.gitkeep
!backend/uploads/FotosEmpleados/.gitkeep
backend/uploads/Configuracion/*
!backend/uploads/Configuracion/.gitkeep